{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{%static 'UserMember/css/main-control.css' %}">
      {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
  <title>Trung tâm điều khiển</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Bang LED</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-item nav-link active text-success btn-outline" href="{% url 'UserMember:registerUser' %}">Register</a>
      </li>
      <li class="nav-item">
       <a class="nav-item nav-link active text-danger" href="{% url 'UserMember:logoutUser' %}">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<form action="{% url 'UserMember:sendMQTT' %}" method="post">
  {% csrf_token %}
  <label style="display: block;"  for="text-content">Nội dung</label>
  <input placeholder="Nhập nội dung bạn muốn hiển thị" type="text" id="text-content" name="textCt">
  <label style="display: block;" >Tốc độ</label>
  <input placeholder="Nhập tốc độ cuộn LED" type="number" id="speed-scroll" name="speedCt">
  <div>
    <label class="hang-hien-thi" >Chọn hàng hiển thị</label>
  <p>
      <strong>Chú ý:</strong> Hàng 1: Chữ sẽ đứng yên. Hàng 2: Chữ sẽ cuộn.
    </p>
  </div>
  <select id="row" name="row">
  <option value="1">Hàng 1</option>
  <option value="2">Hàng 2</option>
  </select>
  <input class="btn-submit" type="submit" value="Submit">
</form>

</body>
</html>